.display {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 8px;

    background-color: rgb(150, 177, 168);
    font-size: 18px;
    padding: 10px;
    height: 125px;
    width: 100%;
}